body {
    text-align: center;
}

footer {
    margin: 80px;
}

input {
    width: 200px;
}

#plainFile {
    margin-right: 108px;
}

#cipherFile {
    margin-left: 108px;
}

input:valid {
    background-color: #ddffdd;
}

#cipher:invalid {
    background-color: yellow;
}

#cipherText:invalid {
    background-color: #FF0000;
}
